// Mixins in here
.btn-parameter(@radius, @v-padding, @h-padding) {
    border-radius: @radius;
    padding: @v-padding @h-padding;
}

.btn {
    display: inline-block;
    background-color: green;
    .btn-parameter(6px, 10px, 20px);

    a {
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
    }
}